:root {
  --yellow: #4f7cff;
  --body: #15191c;
  --bg: #1b1f24;
  --black: #000000;
  --bgg:linear-gradient( 0deg , #0a5858, #194255);
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
}

@font-face {
  font-family: bangers;
  src: url(/font/Bangers.ttf);
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.full {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  pointer-events: none;
  display: none;
}
.full img {
  width: 60px;
  background: black;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full p {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.full p.reload {
  top: 65%;
  color: red;
  text-align: center;
}

@media screen and (min-width: 700px) and (orientation: landscape) {
  .full {
    display: block;
  }
}
nav {
  height: 100vh;
  width: 15vw;
  background: var(--yellow);
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}
nav .sec {
  height: auto;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
}
nav .sec img {
  width: 25px;
  transform: scale(0.95);
  height: auto;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
  margin: 8px 0px;
}
nav .sec:hover, nav .sec:active {
  background: rgba(255, 255, 255, 0.14);
}
nav .sec:hover img, nav .sec:active img {
  opacity: 1;
  transform: scale(1.05);
}
nav .sec.main img {
  transform: scale(1.05);
  opacity: 1;
}
nav #home {
  top: calc((100vh / 12) * 1 );
}
nav #os {
  top: calc((100vh / 12) * 4 );
}
nav #update {
  top: calc((100vh / 12) * 5);
}
nav #games {
  top: calc((100vh / 12) * 6 );
}
nav #software {
  top: calc((100vh / 12) * 7 );
}
nav #upgrade {
  top: calc((100vh / 12) * 8);
}
nav #more {
  top: calc((100vh / 12) * 9 );
}

.container {
  background: var(--bg);
  height: 100%;
  width: 85vw;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -3;
}
.container .title {
  width: 90%;
  padding: 20px;
  position: relative;
}
.container .title p {
  font-family: bangers;
  font-weight: 100;
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 50px;
  float: left;
}
.container .title .logo {
  width: 60px;
  padding: 5px;
  background: black;
  border-radius: 500px;
  box-shadow: 0px 0px 25px rgba(11, 211, 168, 0.123);
  position: absolute;
  right: 20px;
}
.container .card_about {
  position: relative;
  margin-top: 20px;
  height: 60vh;
  background: var(--body);
  border-radius: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .card_about::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #0a5858, #194255);
  transform: scale(0.95);
  filter: blur(50px);
  opacity: 0.7;
  transition: opacity 0.3s;
}
.container .card_about h1 {
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  text-align: left;
  width: 100%;
  padding: 20px 0px 20px 20px;
}
.container .card_about .line {
  height: 3px;
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(0deg, #0a5858, #194255);
  width: 60%;
  position: absolute;
  top: 50px;
  left: 0px;
}
.container .card_about img.qr {
  width: 60%;
  margin-top: 10px;
}
.container .card_about p {
  color: white;
  margin-top: 10px;
  text-align: center;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 10px;
}
.container .card_about .or {
  margin: 15px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .card_about .or p {
  font-size: 16px;
}
.container .card_about .or .lines {
  height: 2px;
  width: 30%;
  background: white;
  opacity: 0.3;
  border-radius: 2px;
  margin-top: 10px;
}
.container .card_about .call {
  margin-top: 40px;
  margin-bottom: 10px;
}
.container .card_about a {
  text-decoration: none;
  border-radius: 10px;
  color: white;
  background: black;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.container .card_about a p {
  font-size: 20px;
  opacity: 1;
  margin-top: 0px;
}
.container .card_about a img {
  width: 30px;
  margin-right: 10px;
}

.page2 {
  background: var(--bg);
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 85vw;
  overflow: hidden;
  padding: 20px;
  color: white;
  font-family: sans-serif;
}
.page2 h1 {
  font-family: bangers;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 50px;
}
.page2 .lines {
  background: var(--bgg);
  height: 3px;
  width: 80%;
  position: relative;
  left: -20%;
}
.page2 p.des {
  background: black;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 10px;
  color: white;
  opacity: 0.3;
}
.page2 .card_1 {
  margin-top: 50px;
  background: black;
  height: 80px;
  border-radius: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.page2 .card_1 .title {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/img/valo.jpg");
  background-size: cover;
  height: 100%;
  width: 70%;
}
.page2 .card_1 .title p {
  z-index: 3;
}
.page2 .card_1 .title .grad {
  height: 100%;
  z-index: 2;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, transparent, black);
}
.page2 .card_1 .price {
  position: absolute;
  top: 0;
  right: 0;
  background: #17b55b;
  height: 100%;
  width: 30%;
  display: grid;
  place-items: center;
}
.page2 .card_1 .price p {
  font-family: bangers;
  font-size: 40px;
  font-weight: 900;
}
.page2 .card_1 .price p .blur {
  position: absolute;
}/*# sourceMappingURL=style.css.map */