:root{
    --yellow : #4f7cff;
    --body: #15191c;
    --bg : #1b1f24;
    --black: #000000;
}



*,*::after,*::before{

    box-sizing: border-box;
    margin: 0px;
    font-family:  sans-serif;
    //border: 1px soild red;
}


@font-face {
    font-family: bangers;
    src: url(/font/Bangers.ttf);

}




nav{

    height: 100vh;
    width: 10vw;
    background: var(--yellow);
    position: fixed;
    display: flex;
    align-items:center;
    flex-direction: column;
    z-index: 5;
    
    .sec{
        height: auto;
        width: 90%;
        margin:auto;
        border-radius: 10px;
        position: absolute;
        display: grid;
        place-items:center;
        transition: all .3s ease-in-out;
        
        img{
            width: 30px;
            transform: scale(.95);
            height: auto;
            opacity: .3;
            transition: all .3s ease-in-out;
            margin: 8px 0px;
        }

        &:hover,&:active{
            background: rgba(255, 255, 255, 0.140);
            img{
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }

    #home{
        top: calc((100vh / 12) * 1 );
    }
    #os{
        top: calc((100vh / 12) * 4 );
    }
    #update{
        top: calc((100vh / 12) * 5);
    }
    #games{
        top: calc((100vh / 12) * 6 );
    }
    #software{
        top: calc((100vh / 12) * 7 );
    }
    #upgrade{
        top: calc((100vh / 12) * 8);
    }
    #more{
        top: calc((100vh / 12) * 9 );
    }
   

}

// -------------------------- here goes the HOME page -----------------------


.page_indicator{

}


.container{
    background: var(--bg);
    height: 100vh;
    width: 90vw;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -3;

    


    .title{

        width: 90%;
        padding: 20px;
        position: relative;

        p{

            font-family: bangers;
            color: white;
            font-weight: 600;
            font-size: 50px;
            float: left;
            
        }


        img{
            width: 150px;
            padding: 5px;
            background: black;
            border-radius: 500px;
            box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.140);
            position: absolute;
            right:20px;
    
        }
        .line{

            border-radius: 50px; 
            height: 1px;
            width: calc(100% - 40px);
            background: white;
            position: absolute;
            bottom: 0px;


        }

       
    }


    .card{
        position: relative;
        margin-top: 50px;
        height: fit-content;
        background: var(--body);
        border-radius: 20px;
        width: 90%;

        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background:linear-gradient( 0deg , #223535, #334953;
            transform: scale(0.95);
            filter: blur(50px);
            opacity: 0.7;
            transition: opacity 0.3s;
        }


        h1{
            position: relative;
            top: 20px;
            left: 10px;
            color: white;
            font-family: sans-serif;
            font-weight: 600;

        }

        p{
           color:white;
           font-family: sans-serif;
           margin: 30px 00px 20px 10px; 
        }





    }







}




// -------------------------- here goes the GAMES page -----------------------


